.plans {
    padding: 5px 5px;
    margin: 25px 25px;
    font-family: 'Times New Roman', Times, serif;
    color: teal;
    border: 2px solid red;
}

.test {
    font-size: large;
    font-weight: 500;
    color: red;
}

#test {
    color: black;
    font-weight: 600;
}

.details {
    font-weight: 400;

}

.head {
    color: black;
  
}

.head {
    font-weight: 600;
   

}

.margin {
    margin-top: 15px;
}

.headz {
    width: 100%;
  
    

    

}

.cards {
    border-left: 3px solid rgb(4, 73, 46);
    border-right: 3px solid rgb(4, 73, 46);
    border-top:3px solid rgb(4, 73, 46);
   
}